---
import Layout from '../layouts/Layout.astro'
import ProfileCard from '../components/ProfileCard.astro'
import Desktop from '../components/Desktop.astro'
import SocialBar from '../components/SocialBar.astro'
---

<Layout title='Piero Sarmiento | Frontend Developer'>
  <main
    class='min-h-screen lg:max-w-[1000px] flex items-center justify-center flex-row gap-x-3 mx-auto'
  >
    <SocialBar />
    <Desktop />
    <ProfileCard />
  </main>
</Layout>
