---
import Layout from '../layouts/Layout.astro'
import ProfileCard from '../components/ProfileCard.astro'
---

<Layout title='Piero Sarmiento'>
  <main class='min-h-screen max-w-[600px] flex items-center justify-center'>
	<ProfileCard />
  </main>
</Layout>
