---
import GridLayout from './GridLayout.astro'
import NavBar from './NavBar.astro'
---

<section
  class='bg-white/10 backdrop-filter backdrop-blur-lg shadow-lg border border-white/20 rounded-3xl lg:min-w-[800px] h-full flex flex-row justify-between items-center'
>
  <NavBar />
  <div class='flex justify-center items-center'>
    <GridLayout />
  </div>
</section>
