---
import GridLayout from './GridLayout.astro'
import NavBar from './NavBar.astro'
---

<section
  class='bg-white/10 backdrop-filter backdrop-blur-lg shadow-lg border border-white/20 rounded-3xl lg:min-w-[800px] h-fit lg:h-[665px] flex flex-row justify-between items-center'
>
  <NavBar />
  <GridLayout />
</section>
