---
import GridLayout from './GridLayout.astro'
import NavBar from './NavBar.astro'
---

<section
  class='bg-white/10 backdrop-filter backdrop-blur-lg shadow-lg border border-white/20 rounded-3xl w-full xl:min-w-[800px] flex flex-row m-4 h-full xl:min-h-[670px]'
>
  <NavBar />
  <GridLayout />
</section>
