---
import GridLayout from './GridLayout.astro'
import NavBar from './NavBar.astro'
---

<section
  class='bg-white/10 backdrop-filter backdrop-blur-lg shadow-lg border border-white/20 rounded-3xl w-fit xl:min-w-[800px]  xl:h-[665px] flex flex-row justify-between items-center m-4'
>
  <NavBar />
  <GridLayout />
</section>
