---
import { IconBrandX, IconCircleArrowLeftFilled } from '@tabler/icons-react'
---

<section
  class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 auto-rows-auto gap-5 m-5 xl:m-2 h-fit text-white'
>
  <div
    class='p-4 rounded-lg sm:col-span-2 md:col-span-4 bg-gradient-to-l from-sky-600 to-emerald-400 flex flex-col gap-y-4 justify-center'
  >
    <h1 class='text-left font-bold text-lg sm:text-2xl tracking-tight'>
      Projects
    </h1>
  </div>

  <div class='rounded-lg md:col-span-1'>
    <img
      class='w-full h-full object-cover rounded-lg'
      src='/img/projectX.webp'
      alt='Coding gif'
    />
  </div>

  <div class='flex justify-center items-center cursor-pointer w-full h-auto'>
    <a
      href='https://github.com/Piero010405/Twitter-Clone'
      target='_blank'
      rel='noopener'
      class='w-full h-full p-4 rounded-lg bg-gradient-to-r from-gray-700 via-gray-900 to-black flex hover:scale-[103%] transition duration-300 ease-in-out justify-center items-center'
    >
      <IconBrandX className='size-32' />
    </a>
  </div>

  <div class='flex justify-center items-center cursor-pointer w-full h-auto'>
    <a
      href='https://trk-publicidad-2024.vercel.app/'
      target='_blank'
      rel='noopener'
      class='w-full h-full p-4 rounded-lg bg-gradient-to-r from-gray-400 via-gray-300 to-white flex hover:scale-[103%] transition duration-300 ease-in-out justify-center items-center'
    >
      <img
        class='w-full h-full object-cover rounded-lg'
        src='/img/trkBrand.webp'
        alt='Coding gif'
      />
    </a>
  </div>

  <div class='rounded-lg md:row-span-1'>
    <img
      class='w-full h-full object-cover rounded-lg'
      src='/img/projectX2.webp'
      alt='Coding gif'
    />
  </div>

  <div class='rounded-lg md:col-span-1'>
    <img
      class='w-full h-full object-cover rounded-lg'
      src='/img/projectTRK.webp'
      alt='Coding gif'
    />
  </div>

  <div class='rounded-lg md:row-span-1'>
    <img
      class='w-full h-full object-cover rounded-lg'
      src='/img/projectTRK2.webp'
      alt='Coding gif'
    />
  </div>

  <div
    class='p-4 rounded-lg bg-gradient-to-l from-sky-600 to-emerald-400 flex flex-col gap-y-4 justify-center'
  >
    <h1 class='text-left font-bold text-lg sm:text-2xl tracking-tight'>
      Go Back Home
    </h1>
    <a
      href='/'
      class='cursor-pointer hover:scale-[103%] transition-all duration-300 ease-in-out'
    >
      <IconCircleArrowLeftFilled className='size-12' />
    </a>
  </div>
</section>
