---

---

<section class='grid grid-cols-4 gap-1'>
  <div class='border border-white/20 size-32'></div>
  <div class='border border-white/20 size-32'></div>
  <div class='border border-white/20 size-32'></div>
  <div class='border border-white/20 size-32'></div>
  <div class='border border-white/20 size-32'></div>
  <div class='border border-white/20 size-32'></div>
  <div class='border border-white/20 size-32'></div>
  <div class='border border-white/20 size-32'></div>
</section>
