---
import {
  IconBrandDiscordFilled,
  IconCode,
  IconNotebook,
  IconUserFilled,
} from '@tabler/icons-react'

import { discordId } from '../consts/consts.ts'
---

<nav class='border-r border-white/20 w-fit bg-black/30 backdrop-filter backdrop-blur-lg p-3 rounded-l-3xl h-full'>
  <!-- sm:min-h-[1300px] -->
  <ul class='flex flex-col gap-y-5 items-center text-black'>
    <li
      class='shadow-lg cursor-pointer bg-white rounded-3xl hover:rounded-2xl transition-all duration-300 ease-linear p-2 hover:text-white hover:bg-black group flex justify-center items-center flex-row'
    >
      <a
        href={`https://discordapp.com/users/${discordId}`}
        target='_blank'
        rel='noopener'
      >
        <IconBrandDiscordFilled className='size-7' />
      </a>
      <span
        class='absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-zinc-800 text-xs font-bold transition-all duration-0 scale-0 origin-left group-hover:scale-100'
      >
        Discord
      </span>
    </li>

    <li
      class='shadow-lg cursor-pointer bg-white rounded-3xl hover:rounded-2xl transition-all duration-300 ease-linear p-2 hover:text-white hover:bg-black group flex justify-center items-center flex-row'
    >
      <a>
        <IconCode className='size-7' />
      </a>
      <span
        class='absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-zinc-800 text-xs font-bold transition-all duration-0 scale-0 origin-left group-hover:scale-100'
      >
        Projects
      </span>
    </li>

    <li
      class='shadow-lg cursor-pointer bg-white rounded-3xl hover:rounded-2xl transition-all duration-300 ease-linear p-2 hover:text-white hover:bg-black group flex justify-center items-center flex-row'
    >
      <a>
        <IconNotebook className='size-7' />
      </a>
      <span
        class='absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-zinc-800 text-xs font-bold transition-all duration-0 scale-0 origin-left group-hover:scale-100'
      >
        Experience
      </span>
    </li>

    <li
      class='shadow-lg cursor-pointer bg-white rounded-3xl hover:rounded-2xl transition-all duration-300 ease-linear p-2 hover:text-white hover:bg-black group flex justify-center items-center flex-row'
    >
      <a>
        <IconUserFilled className='size-7' />
      </a>
      <span
        class='absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-zinc-800 text-xs font-bold transition-all duration-0 scale-0 origin-left group-hover:scale-100'
      >
        About me
      </span>
    </li>
  </ul>
</nav>
