---

---

<section class='bg-red-500 min-w-[400px] h-auto rounded-lg'>
  <header class='flex flex-col'>
    <img
      src='/img/banner1Gif.gif'
      alt='Banner'
      class='w-full object-cover h-32 rounded-lg'
    />
    <aside class='flex flex-row mx-4'>
      <div class='relative bottom-11'>
        <img
          src='/img/profile.webp'
          alt='Piero Sarmiento Ayala'
          class='rounded-full size-24 border-4 border-red-500'
        />
        <span></span>
      </div>
    </aside>
  </header>
  <article></article>
  <footer></footer>
</section>
